.background-image {
    background-image: url('../images/im.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    width: 100%; /* Ensure the image covers the entire component */
    height: 88vh; /* Set the height to 100% of the viewport height for a full-page background */
    /* Add other styles as needed */
  }

  .titulo {
    color: white;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .subtitulo {
    color: rgb(13, 76, 139);
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .component {
    align-items: center;
    padding: 10%;
  }

  .search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .search-container input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-container button {
    background-color: #007bff; 
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .search-container button:hover {
    background-color: #0056b3;
  }

